* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

.card-1,
.card:nth-child(3n + 1) {
  background: rgb(254, 188, 153);
  background: linear-gradient(
    90deg,
    rgba(254, 188, 153, 1) 0%,
    rgba(255, 149, 151, 1) 38%,
    rgba(255, 135, 150, 1) 100%
  );
}

.card {
  display: inline-block;
  position: relative;
  width: 450px;
  height: 250px;
  margin: 10px;
  border-radius: 5px;
}

.content {
  width: 40%;
  height: 100%;
  padding-left: 35px;
  color: white;
}

.content::after {
  position: absolute;
  display: inline-block;
  content: url(../icons/chart-line.svg);
  top: 50px;
  right: 50px;
}

.heading,
.discount,
.price {
  display: inline-block;
}

.heading-all {
  padding: 40px 5px 20px 0px;
  font-size: 18px;
}

.price-all {
  padding-bottom: 60px;
  font-weight: bold;
  font-size: 30px;
}

.discount-all {
  font-weight: 600;
}

.ball-1,
.ball-2 {
  position: absolute;
  background-color: white;
  opacity: 0.33;
  border-radius: 50%;
}

.ball-1 {
  width: 200px;
  height: 200px;
  top: -10px;
  right: -60px;
}

.ball-2 {
  width: 250px;
  height: 250px;
  top: 130px;
  right: -30px;
}

/* card-2 */

.card-2,
.card:nth-child(3n + 2) {
  background: rgb(113, 188, 243);
  background: linear-gradient(
    90deg,
    rgba(113, 188, 243, 1) 0%,
    rgba(74, 168, 231, 1) 38%,
    rgba(30, 147, 227, 1) 100%
  );
}

.content-2::after {
  position: absolute;
  display: inline-block;
  content: url(../icons/bookmark-outline.svg);
  top: 50px;
  right: 50px;
}

/* card-3 */

.card-3,
.card:nth-child(3n + 3) {
  background: rgb(104, 215, 206);
  background: linear-gradient(
    90deg,
    rgba(104, 215, 206, 1) 0%,
    rgba(37, 209, 189, 1) 38%,
    rgba(9, 208, 185, 1) 100%
  );
}

.content-3::after {
  position: absolute;
  display: inline-block;
  content: url(../icons/diamond.svg);
  top: 50px;
  right: 50px;
}
